@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 20, 21, 20;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 400, 400, 400;
    --background-start-rgb: 30, 300, 0;
    --background-end-rgb: 40, 100, 10;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
